
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
	}

	.navbar-brand h1
	{
		float: left;
		color: #000;
	}

#header-nav{
	background-color: grey;
	border-radius: 0;
	border: 3px solid black;
	height: 100px;
	margin-bottom: 0;
	margin-top: 0;
}

.navbar-toggle{
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 35px;
	margin-bottom: 8px;
	margin-right: 15px;
	background-color: transparent;
	background-image: none;
	border: 1px solid black;
	border-radius: 4px;
}

#header2
{
	text-align: center;
}

.row h1
{
	text-align: center;
}

.col-lg-12
{
	border-size: border-box;
	height: 1000px;
	border: 4px solid black;
	background-color: grey;
	margin-left: 20px;
	margin-right: 20px
	margin-top: 20px;
	padding-top: 20px;
}